@{
    ViewBag.Title = "Alisea Home Page";
}

<div class="jumbotron">
    <h1 align="center"><b>Alisea</b></h1>
    <p class="lead">Alisea is a university project created by Ivan Bergonzani and Gabriele Etta during their Network
    Systems course. It allows users to watch videos directly from their computer, tablet or smartphone thanks to the
    power of Universal Windows App.</p>
    <p><a href="http://aliseamiddleservice.azurewebsites.net/Home/About" class="btn btn-primary btn-lg">Learn more about Alisea &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
     <img src="~/Content/logo.jpg" width="427" height="399" alt="Unipr Logo "/>
    </div>
    <div class="col-md-4"></div>
</div>